:root {
    --primary-color: #90B2ED;
    --secondary-color: #7181cb;
    --background-color: #16161a;
    --background-color-trans: #16161af0;
    --text-color: #c2c2c2;
    --tittle-color: #ffffff;
    --icons-color: #ffffff;
    --selection-color: #ffffff0f;
    --containers-color: #000000;
    --rem-name: "Rem // レム";
    --optional-border: #000000;
    --scrollbar-col: #3c3c3c;
    --scrollbarhover-col: #3c3c3cae;
}

*{
    -webkit-tap-highlight-color: #ffffff00;
}

html, body {
    max-width: 101%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-col);
    border-radius: 50px; 
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbarhover-col);
  }
  
  ::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
  }

.hr-container-p1 {
    text-align: center;
    position: relative;
    margin: 20px 0;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.hr-container-p1::before {
    content: " • NEWS • ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    padding: 0 10px; /* Space around the text */
    font-size: 30px; /* Adjust font size as needed */
    color:var(--primary-color);
    font-family: comfortaa;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hr-container-p2 {
    text-align: center;
    position: relative;
    margin: 20px 0;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.hr-container-p2::before {
    content: " • SUPPORT • ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    padding: 0 10px; /* Space around the text */
    font-size: 30px; /* Adjust font size as needed */
    color:var(--primary-color);
    font-family: comfortaa;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hr-container-p3 {
    text-align: center;
    position: relative;
    margin: 20px 0;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.hr-container-p3::before {
    content: " • WHO I AM? • ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    padding: 0 10px; /* Space around the text */
    font-size: 30px; /* Adjust font size as needed */
    color:var(--primary-color);
    font-family: comfortaa;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hr-container-p4 {
    text-align: center;
    position: relative;
    margin: 20px 0;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.hr-container-p4::before {
    content: " • CONTACT • ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    padding: 0 10px; /* Space around the text */
    font-size: 30px; /* Adjust font size as needed */
    color:var(--primary-color);
    font-family: comfortaa;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

hr{
    height: 2px;
    border: none;
    background-color: var(--primary-color);
    margin: 40px 0;
    width: 80%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body{
    background-color: var(--background-color);
    margin: -8px;
    overflow-x: hidden; 
    transition: background-color 0.3s ease, color 0.3s ease;

}

body.lightmode{
    --primary-color: #000000;
    --secondary-color: #1c1c1c;
    --background-color: #e4e4e4;
    --background-color-trans: #e4e4e45b;
    --text-color: #202020;
    --tittle-color: #000000;
    --icons-color: #000000;
    --selection-color: #00000025;
    --containers-color: #ffffff;
    --optional-border: #d7d7d7;
    --scrollbar-col: #868686;
    --scrollbarhover-col: #868686ae;
}

.main-header {
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 999;
}

html {
    scroll-behavior: smooth;
}

.header-container{
    background-color: var(--background-color-trans);
    border-radius: 50px;
    padding: 15px;
    box-shadow: 0px 12px 0px rgba(0, 0, 0, 0.5);
    margin: 8px auto;
    width: 60%;
    transition: background-color 0.3s ease, color 0.3s ease;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    min-width: 390px;
    max-width: 866px;
}

.menu-image{
    margin: 15px;
    border-radius: 10px;
    width: 286px;
    height: 286px;
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.header-left-content {
    display: flex;
    flex-direction: row;
}

#home-button{
    fill: var(--icons-color);
    cursor: pointer;
    transition: transform 1s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    width: 42px;
    height: 42px;
    margin: 0 10px;
}

#home-button:hover{
    transform: scale(1.1);
}

#darkmode-button{
    fill: var(--icons-color);
    cursor: pointer;
    transition: transform 1s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    width: 42px;
    height: 42px;
    margin: 0 10px;
}

#darkmode-button:hover{
    transform: scale(1.1);
}

.banner {
    background-image: url('../banners/website-banner.png');
    background-size: cover;
    background-position: center;
    height: 380px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 110px;
}

#small-tittle{
    font-family: comfortaa;
    color: var(--tittle-color);
    margin: 5px 0;
    font-size: 16px;
}

#normal-text{
    font-family: comfortaa;
    color: var(--text-color);
    font-size: 14px;
}

#bigger_normal-text{
    font-family: comfortaa;
    color: var(--text-color);
    font-size: 18px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 20px auto;
    flex-wrap: wrap;
}

.content .box-select01{
    width: 286px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    flex-direction: column;
    margin: 5px;
    transition: transform 1s cubic-bezier(0.075, 0.820, 0.165, 1.000), background-color 0.3s ease, color 0.3s ease;;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
}

.content .box-select01:hover{
    transform: translateY(-10px);
    background-color: var(--selection-color)
}

.news-images{
    max-width: 100%;
    height: auto;    
    display: block;
    object-fit: cover;
    margin: 10px 0;
    border-radius: 10px;
    max-height: 442px;
}

@media (max-width: 963px) {
    .content .box-select01{
        width: 186px;
    }
    .menu-image{
        width: 200px;
        height: 200px;
    }
    .news-container{
        width: 326px;
        min-height: 330px;
        max-height: 330px;
    }
    #rem-pfp {
        min-width: 56px;
        height: 56px;
    }
}

@media (max-width: 666px) {
    .content{
        flex-direction: column;
    }
    .content .box-select01 {
        flex-direction: row;
        height: 100px;
        width: 80%;
        padding: 15px;
    }
    #small-tittle{
        text-align: left;
    }
    .menu-image{
        width: 123px;
        height: 123px;
    }
    #normal-text{
        text-align: left;
    }
    .banner{
        height: 280px;
    }
    .content .box-select01:hover{
        transform: translateY(-8px);
    }
    #rem-pfp {
        min-width: 46px;
        height: 46px;
    }
}

.news-content{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.news-container{
    background-color: var(--containers-color);
    border-radius: 10px;
    width: 526px;
    transition: transform 1s cubic-bezier(0.075, 0.820, 0.165, 1.000), width 1s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    cursor: pointer;
    margin: 10px;
    min-height: 530px;
    max-height: 530px;
    border: 2px solid var(--optional-border);
}

@media (max-width: 1119px) {
    .news-container{
        width: 426px;
        min-height: 430px;
        max-height: 430px;
    }
}

@media (max-width: 920px) {
    .news-container{
        width: 326px;
    }
}

@media (max-width: 719px){
    .news-container {
        width: auto;
        min-height: 454px;
        max-height: 602px;
        margin-left: 24px;
    }
}

.news-container:hover{
    transform: translateY(-10px);
}

#news-tittle{
    font-family: comfortaa;
    color: var(--tittle-color);
    margin: 5px 0;
    font-size: 25px;
}

#news-text{
    font-family: comfortaa;
    color: var(--text-color);
    font-size: 14px;
}

#rem-pfp{
    background-image: url('../img/rem-pfp.png');
    border-radius: 50%;
    min-width: 58px;
    height: 58px;
    background-size: cover;
    background-position: center;
    margin-right: 15px;
}

#rem-username::before{
    content: var(--rem-name);
    font-family: comfortaa;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 10px;
}

.discord-me {
    display: flex;
    padding: 20px 30px;
}

.support-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.support-container {
    background-color: var(--containers-color);
    border-radius: 10px;
    width: 75%;
    max-width: 950px;
    height: 263px;
    transition: transform 1s cubic-bezier(0.075, 0.820, 0.165, 1.000), width 1s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    margin: 10px;
    border: 2px solid var(--optional-border);
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
}

.support-container-imgs {
    width: 478px;
    margin: -15px -15px 0px 0px;
    height: 120%;
    margin-left: 30px;
    object-fit: cover;
}

#support-container-left-content {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: auto;
    min-width: 330px;
    z-index: 3;
}

#bloc-gradient {
    background-image: linear-gradient(90deg, var(--containers-color) 0%, rgb(0 0 0 / 0%) 60%);
    position: absolute;
    height: 293px;
}

.kofi {
    width: 190px;
    margin-top: 15px;
    bottom: 15px;
    position: absolute;
    left: 15px;
    cursor: pointer;
    z-index: 2;
}

@media (max-width: 666px) {
    .img {
        position: absolute;
        left: 160px;
        z-index: 1;
        opacity: 0.1;
    }
    #support-container-left-content{
        z-index: 2;
        position: absolute;
    }
    .who-I-am_page {
        flex-direction: column;
        align-items: center;
    }
}

.support-conatiner-button {
    background-color: var(--background-color);
    border-radius: 5px;
    padding: 5px;
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 15px;
    bottom: 15px;
    cursor: pointer;
    z-index: 2;
    height: 18px;
    transition: opacity 0.5s ease;
}

.support-conatiner-button:hover {
    opacity: 0.8;
    transition: opacity 0s ease;
}

.who-I-am_page {
    display: flex;
    justify-content: center;
}

.text-box-story {
    width: 460px;
    margin: 10px 25px;
}

.contact-container{
    background-color: var(--containers-color);
    border-radius: 10px;
    width: 325px;
    transition: transform 1s cubic-bezier(0.075, 0.820, 0.165, 1.000), width 1s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    cursor: pointer;
    margin: 10px;
    border: 2px solid var(--optional-border);
    padding: 25px;
    overflow: hidden;
}

.contact-container:hover{
    transform: translateY(-10px);
}

.contact-page {
    display: flex;
    justify-content: center;
}

.text-icons{
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.footer{
    background-color: var(--containers-color);
    height: 370px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

#text-box-footer{
    width: 240px;
}

.links-menu {
    width: 680px;
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
}

a{
    margin-top: 5px;
    font-family: comfortaa;
    color: var(--text-color);
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
    opacity: 0.8;
}

.cookie-container{
    background-color: #444f63a1;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 999;
    bottom: 0;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px 10px 0px 0px;
    margin: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#cookie-button {
    background-color: #444f63;
    border-radius: 5px;
    padding: 5px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    z-index: 2;
    height: 18px;
    transition: opacity 0.5s ease;
    margin-top: 30px;
}

#cookie-button:hover {
    opacity: 0.8;
    transition: opacity 0s ease;
}

@media (max-width: 675px) {
    #left-content{
    float: left;
    width: 400px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 30px 10px;
    }
    #cookie-button{
        margin-bottom: 20px;
    }
}